header.header.wrapper__section
  nav.header-navigation.navigation
    a(href='#').burger
      span.burger__item
      span.burger__item
      span.burger__item
    ul.header-navigation__inner.navigation__inner
      li.header-navigation__item.navigation__item
        a(href="#").navigation__link.header-navigation__link Home
      li.header-navigation__item.navigation__item
        a(href="#").navigation__link.header-navigation__link About
      li.header-navigation__item.navigation__item
        a(href="#").navigation__link.header-navigation__link Travel
  main.header__main
   h1.header__title Business Travel
   a(href="#").more-info-link.header-more-info-link MORE INFO


