.section__article
  max-width: 610px

.section__article-text
  color: #5b5b5c
  font-family: Montserrat
  font-size: 22px
  font-weight: 400
  letter-spacing: 3.08px

.section__article-header
  color: #000000
  font-family: Montserrat
  font-size: 30px
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 4.2px

  &:not(:last-child)
    margin-bottom: 54px
