.section
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 65px 0px

.section__article
   max-width: 813px
   height: fit-content

.section__article-text-container
  margin-bottom: 60px

.section__article-img-container
  @media screen and (max-width: 1500px)
    width: 100%
    max-width: 813px
    margin-bottom: 50px

.section__article-img
   @media screen and (max-width: 1500px)
     width: 100%

.section__inner
  display: flex
  flex-wrap: wrap

.section__article-text
  color: #5b5b5c
  font-family: Montserrat
  font-size: 22px
  font-weight: 400
  letter-spacing: 3.08px

  &:not(:last-child)
    margin-bottom: 54px

.section__article-title
  color: #000000
  font-family: Montserrat
  font-size: 30px
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 4.2px
  margin-bottom: 54px

  &::before
    content: ''
    margin-bottom: 30px
    font-family: Montserrat
    font-size: 22px
    font-weight: 500
    letter-spacing: 3.08px
    color: #c4c4c4
    display: block

.about-section__article-title
  &::before
    content: 'About us'


.about-section__inner
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap

  @media screen and (max-width: 1500px)
    justify-content: center
    flex-direction: column-reverse

.section__title
  font-family: Montserrat
  font-size: 32px
  font-weight: 700
  text-transform: uppercase
  text-align: center
  letter-spacing: 7.2px
  color: #000000

  &::after
    content: ''
    display: block
    font-family: Montserrat
    font-size: 28px
    font-weight: 500
    letter-spacing: 4.2px
    color: #5b5b5c
    margin-top: 35px

    @media screen and (max-width: 768px)
      font-size: 20px
      margin-top: 25px

.photos-section__title
  margin-bottom: 100px
  @media screen and (max-width: 768px)
    margin-bottom: 50px
  &::after
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore '

$galleryPhotosMargin: 30px
.photos__container-row
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: $galleryPhotosMargin

.photos__container-item
  max-width: 800px

.photos__container-item:not(:last-child)
  margin-right: $galleryPhotosMargin

.slider-toggle__inner
  display: flex
  align-items: center

.slider-toggle__link--left
  margin-right: 20px

.slider-toggle__link
  margin-left: 20px

.slider-toggle__number-container
  font-family: Montserrat
  font-size: 30px
  font-weight: 500
  letter-spacing: 4.2px
  color: #000000

.slider-toggle__link
  display: flex
  align-items: center
А
.slider-toggle__number--disabled
  color: #c5c5c5 !important

.slider-toggle__slash
  margin: 0 10px


.adventure-section__title
  &::before
    content: 'Next Tour'


.travel-section__article
  @media screen and (max-width: 1500px)
    margin-bottom: 70px


.travel-section__article-title
  font-family: Montserrat
  font-size: 19px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 6px

  &::before
    display: none

.travel-section__inner
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  @media screen and (max-width: 1500px)
    justify-content: center



.travel-section__img
  margin-bottom: 70px
