extends /layout/app

block content
  .container.wrapper
    section.section.about-section
      h2.section__title.about-section-title.semantic About Us
      div.inner.about-section__inner
        article.section__article
          h3.section__article-title.about-section__article-title WE WILL TURN YOUR WORK INTO AN EXCITING JOURNEY.
          div.section__article-text-container
            p.section__article-text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              |  magna aliqua. Faucibus purus in massa tempor nec  feugiat nisl pretium fusce. Ac turpis egestas integer eget.
              |  Felis bibendum ut tristique et egestas quis ipsu.
            p.section__article-text
              | sa massa ultricies mi quis hendrerit dolor magna. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam.
              | Lectus arcu bibendum at varius. In massa tempor nec feugiat nisl. Mattis ullamcorper velit sed ullamcorper
              | morbi tincidunt ornare massa eget. Adipiscing elit ut aliquam purus. Nunc pulvinar sapien et ligula ullam

          a(href="#").more-info-link.more-info-link--black MORE INFO
        div.section__article-img-container
          img(src='images/about-us-image.jpg', alt='').section__article-img
    section.section.photos-section(id = 'photos-section')
      h2.photos-section__title.section__title.inner PHOTOS OF OUR TRAVELS
      .photos__container-wrapper.owl-carousel.owl-theme.inner
        .photos__container
          .photos__container-row
            .photos__container-item
              img(src="images/photos/pablo-garcia-saldana.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/yap-chin-kuan.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/luca-bravo.png", alt="pablo garcia saldana")
          .photos__container-row
            .photos__container-item
              img(src="images/photos/peter-jan-rijpkema.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/jason-zeis.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/anders-jilden.png", alt="pablo garcia saldana")
          .photos__container-row
            .photos__container-item
              img(src="images/photos/paul-trienekens.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/tim-swaan.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/mona-eendra.png", alt="pablo garcia saldana")
        .photos__container
            .photos__container-row
              .photos__container-item
                img(src="images/photos/peter-jan-rijpkema.png", alt="pablo garcia saldana")
              .photos__container-item
                  img(src="images/photos/jason-zeis.png", alt="pablo garcia saldana")
              .photos__container-item
                  img(src="images/photos/anders-jilden.png", alt="pablo garcia saldana")
            .photos__container-row
              .photos__container-item
                img(src="images/photos/paul-trienekens.png", alt="pablo garcia saldana")
              .photos__container-item
                  img(src="images/photos/tim-swaan.png", alt="pablo garcia saldana")
              .photos__container-item
                img(src="images/photos/mona-eendra.png", alt="pablo garcia saldana")
        .photos__container
          .photos__container-row
            .photos__container-item
              img(src="images/photos/pablo-garcia-saldana.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/yap-chin-kuan.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/luca-bravo.png", alt="pablo garcia saldana")
          .photos__container-row
            .photos__container-item
              img(src="images/photos/peter-jan-rijpkema.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/jason-zeis.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/anders-jilden.png", alt="pablo garcia saldana")
          .photos__container-row
            .photos__container-item
              img(src="images/photos/paul-trienekens.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/tim-swaan.png", alt="pablo garcia saldana")
            .photos__container-item
                img(src="images/photos/mona-eendra.png", alt="pablo garcia saldana")


      .slider-toggle
        .slider-toggle__inner
          a(href="#", id='js-prev').slider-toggle__link.slider-toggle__link--left
            img(src="images/slide-left-arrow.svg", alt="")
          .slider-toggle__number-container
            span.slider-toggle__number.slider-toggle__number--left 01
            span.slider-toggle__slash /
            span.slider-toggle__number.slider-toggle__number--right 05
          a(href="#", ).slider-toggle__link.slider-toggle__link.slider-toggle__link--right
            img(src="images/slide-right-arrow.svg", alt="owl-prev")
      section.section.travel-section
      h2.photos-section__title.section__title.inner PHOTOS OF OUR TRAVELS
      .travel-section__inner.inner
        article.section__article.travel-section__article
          div.section__article-img.travel-section__img
            img(src='images/jessica-furtney.png', alt='')
          h3.section__article-title.travel-section__article-title COMFORTABLE PREMIUM CLASS ACCOMMODATIONS
          div.section__article-text-container
            p.section__article-text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              |  magna aliqua. Faucibus purus in massa tempor nec  feugiat nisl pretium fusce. Ac turpis egestas integer eget.
              |  Felis bibendum ut tristique et egestas quis ipsu.
          a(href="#").view-photo-button VIEW PHOTOS
        article.section__article
          div.section__article-img.travel-section__img
            img(src='images/zachary-shea.png', alt='')
          h3.section__article-title.about-section__article-title.travel-section__article-title WEEKLY GROUP ENTERTAINMENT AND EXCURSIONS
          div.section__article-text-container
            p.section__article-text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              |  magna aliqua. Faucibus purus in massa tempor nec  feugiat nisl pretium fusce. Ac turpis egestas integer eget.
              |  Felis bibendum ut tristique et egestas quis ipsu.
          a(href="#").view-photo-button  VIEW PHOTOS

    section.section.about-section
      h2.section__title.about-section-title.semantic Next Tour
      div.inner.about-section__inner.inner--reversed
        article.section__article
          h3.section__article-title.adventure-section__title UNFORGETTABLE ADVENTURE IN FILIPINAS
          div.section__article-text-container
            p.section__article-text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              |sed do eiusmod tempor incididunt ut labore et dolore
              |magna aliqua. Faucibus purus in massa tempor nec
              |feugiat nisl pretium fusce. Ac turpis egestas integer eget.
              |Felis bibendum ut tristique et egestas quis ipsu.
            p.section__article-text
              |sa massa ultricies mi quis hendrerit dolor magna. Facilisis
              |leo vel fringilla est ullamcorper eget nulla facilisi etiam.
              |Lectus arcu bibendum at varius. In massa tempor nec
              |feugiat nisl. Mattis ullamcorper velit sed ullamcorper
              |morbi tincidunt ornare massa eget. Adipiscing elit ut
              |aliquam purus. Nunc pulvinar sapien et ligula ullam
            p.section__article-text
              |Mauris ultrices eros in cursus turpis massa tincidunt dui
              |ut. Mauris rhoncus aenean vel elit scelerisque mauris.
              |Pretium vulputate sapien nec sagittis aliquam malesuada.
              |Lectus magna fringilla urna porttitor rhoncus dolor purus.

          a(href="#").more-info-link.more-info-link--black MORE INFO
        div.section__article-img-container
          img(src='images/justin-kauffman.jpg', alt='').section__article-img

    section.section.book-section
      form(action="#").inner.book-form
        legend.book-form__legend BOOK A DISCOUNTER TOUR
        .inputs__inner
          label(for="name").book-form__label
            input(type="text" name = "name", placeholder="Name").book-form__input
          label(for="email").book-form__label
            input(type="email", name="email", placeholder="Email").book-form__input
          input(type="submit", value='send').book-form__input.book-form__submit










