
.wrapper
  display: flex
  flex-grow: 1
  width: 100%
  height: 100%
  flex-direction: column



.inner
  width: 100%
  max-width: 1675px

  @media screen and (max-width: 1500px)
    padding: 0 15px

.semantic
  position: absolute
  visibility: hidden
  z-index: -10


.inner--reversed
  flex-direction: row-reverse

