footer.footer
  .footer__inner.inner
    nav.navigation.footer-navigation
      ul.navigation__inner.footer-navigation__inner
        li.navigation__item.footer-navigation__item
          a(href="#").navigation__link.footer-navigation__link Home
        li.navigation__item.footer-navigation__item
          a(href="#").navigation__link.footer-navigation__link About
        li.navigation__item.footer-navigation__item
          a(href="#").navigation__link.footer-navigation__link Gallery
        li.navigation__item.footer-navigation__item
          a(href="#").navigation__link.footer-navigation__link Travel
    .footer__item
      span.footer__text Business travel
      span.footer__text Travel 2019 | All rights reserved



